<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.example.mmk-agent</string>
	<key>Program</key>
	<string>/usr/sbin/mmk-agent</string>
	<key>RunAtLoad</key>
	<true/>
	<key>MachServices</key>
	<dict>
		<key>org.example.mmk-agent</key>
		<true/>
	</dict>
</dict>
</plist>
